<!DOCTYPE html>
<html>
  <head>
    <title>Hoop Tour USA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if Rails.env.development? %>
      <script src="http://localhost:3808/webpack-dev-server.js"></script>
    <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500|Raleway:300|Audiowide|Hammersmith+One|Orbitron:900|Ubuntu" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

  <body>
    <a id='top'></a>
    <%= yield %>
  <%= javascript_include_tag *webpack_asset_paths('application') %>
</body>
</html>
